html,
body
{
    font-family: Georgia;
    background-color: #E6F3F7;
}

/*FONT TO REM RESET*/
html{
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}
//end reset

h1 
{
    font-size: 50px;
    text-align: center;
    margin: 60px auto;
}

p 
{
    text-align: center;
    margin: 60px auto;
}

.main
{
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
}

/* SELECTABILITY */
/* https://forumone.github.io/jquery.selectability.js/ */
.selectability-offscreen
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
    outline: 0;
}

.selectability
{
    font-family: Arial;
    font-size: 2.0rem;
    font-weight: 800;

    position: relative;
    z-index: 50;

    width: 100%;
    height: 38px;

    text-align: left;
    text-transform: uppercase;

    color: #462346;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    @media screen and (max-width: 520px)
    {
        width: 100%;
    }
    @media screen and (max-width: 360px)
    {
        font-size: 1.6rem;
    }
}

.selectability [role*=textbox]
{
    padding: 10px 0 6px 20px;
}

.selectability [role*=textbox]::after
{
    font-size: 2.6rem;

    float: right;

    margin: -10px 0 0 0;
    padding: 3px 18px;

    content: '\0025be';

    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #99dbd7;
}

.selectability[aria-expanded='true'] [role*=textbox]::after
{
    content: '\0025be';
}

.selectability[aria-expanded=true] [role*=listbox]
{
    position: absolute;
    top: 38px;

    overflow-y: auto;

    width: calc(100% - 53px);
    max-height: 250px;

    background-color: #fff;
    border: 1px solid black;
}

.selectability [role=option]
{
    font-weight: 300;

    padding: 10px 10px 10px 20px;

    cursor: default;
    &:first-child
    {
        padding-top: 14px;
    }
}

.selectability [role=option][aria-disabled=false]:hover,
.selectability [role=option][aria-disabled=false]:focus
{
    // border: 1px solid $alsPurple;
    text-decoration: underline;

    background: #fff;
}

.selectability [role=option][aria-disabled=false]:hover
{
    // border: 1px solid $alsPurple;
    text-decoration: underline;
}

.selectability [aria-disabled=true]
{
    color: #999;
}
